<link
    rel="icon"
    type="image/png"
    href="images/icons/favicon.ico"
/>

<link
    rel="stylesheet"
    type="text/css"
    href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
/>
<!--===============================================================================================-->
<link
    rel="stylesheet"
    type="text/css"
    href="vendor/animate/animate.css"
/>
    <!--===============================================================================================-->
<link
    rel="stylesheet"
    type="text/css"
    href="vendor/css-hamburgers/hamburgers.min.css"
/>
<!--===============================================================================================-->
<link
    rel="stylesheet"
    type="text/css"
    href="vendor/select2/select2.min.css"
/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />


<body id="template" class="bg-gradient-primary">
    <div class="bg-gradient-primary">
      <div class="container-login100">
        <div class="wrap-login100">
          <div class="login100-pic js-tilt" data-tilt>
            <img src="images/img-01.png" alt="IMG" />
          </div>

          <form class="login100-form validate-form" id="formlogin">
            <span class="login100-form-title"> Member Login </span>

            <div
              class="wrap-input100 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
              id="InpuUser"
            >
              <input
                class="input100"
                type="text"
                name="username"
                placeholder="Username"
                id="user"
                required
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
            </div>
            <div>
              <p id="UserValidator" class="ValidaUser" 
              style="margin-top: -3%; text-align: center; height: 5% ;">
              </p>
            </div>
            <br />
            <div
              class="wrap-input100 validate-input"
              data-validate="Informe a Senha"
            >
              <input
                class="input100"
                type="password"
                name="password"
                placeholder="Password"
                id="password"
                required
                style="margin-top: -5%;"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>

            <div class="container-login100-form-btn" style="margin-top: -5%;">
              <button class="login100-form-btn" id="btnlogin" type="submit">
                Login
              </button>
            </div>

            <div class="text-center p-t-12">
              <span class="txt1"> Forgot </span>
              <a class="txt2" href="login/forgot/password"> Username / Password? </a>
            </div>

            <div class="text-center p-t-136">
              <a class="txt2" href="#">
                Create your Account
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
</body>

<script type="text/javascript">

 const form = window.document.getElementById('formlogin');
 const spinner  = "<div class='align-items-center'>" 
                + "  <div class='spinner-border text-primary' role='status'></div>"
                + "  <span class='sr-visible' style='margin-buttom: 15px'>Validando Credenciais de acesso...</span>"
                + "</div>"; 

 form.addEventListener('submit', async (event) => {

   event.preventDefault();

   let usuario = window.document.getElementById('user').value; 
   let password = window.document.getElementById('password').value;

   swal({
     html: spinner,
     showConfirmButton: false
   });
   
   const result = await axios({
      method: 'POST',
      url: '/auth/user',
      data: {
        usuario,
        password
      },
      dataType: 'JSON',
      responseType: 'JSON'
    }).then((response) => {

      if(response.data.typeMenssage === "success" && response.data.codeMessage === 200){

        swal.close();

        swal({
          toast: true,
          title: response.data.Menssage,
          type: response.data.typeMenssage,
          timer: 1000,
          showConfirmButton: false,
          position: "top-end"
        }).then( () => {

          location.href = '/dashboard'

        });

      }else if (response.data.typeMenssage === "error" && response.data.codeMenssage === 500){

        swal.close();

        swal({
          type: response.data.typeMenssage,
          title: response.data.message,
          text: response.data.originError 
        });

      }else{
        
        swal.close();

        swal({
          type: response.data.typeMenssage,
          title: response.data.Menssage,
          text: 'Tente Novamente!'
        });

      }

    });

    return result; 

 });




</script>